<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} App:Polls {% endblock title %}</title>
    <link rel="stylesheet" href=" {% static '/polls/css/main.css' %}">
</head>
<body>
    <div class="topnav">
        {% block nav %}
        <a class="active" href="http://127.0.0.1:8000/polls/index">Polls</a>
        <a href="http://127.0.0.1:8000/polls/list">Questions List</a>
        <a href="http://127.0.0.1:8000/polls/login">Login</a>
        {% endblock %}
      </div>
    <div id="main">
        {% block main %}
        <p>...</p>
        {% endblock main %}
    </div>

    <div id="content">
        {% block content %}
        <h1>hello world</h1>
        {% endblock content %}
    </div>
</body>
</html>