{% extends "polls/base.html"%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      {% block main %}
      <h1>Choice</h1>
      {% endblock main %}
    </div>
    <div id="content">
      {% block content %}
      <ul>
        {% for choice in object_list %}
        <li>{{ choice.choice_text }}</li>
        {% empty %}
        <li>No question yet</li>
        {% endfor %}
      </ul>
      {% endblock content %}
    </div>
  </body>
</html>
