{% extends "polls/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} List 
        {% endblock title %}
    </title>

</head>
<body>
<div>
    {% block content %}

        <h1>Question</h1>
    <ul>
    {% for question in object_list %}
        <li>{{ question.pub_date|date }} - {{ question.question_text }}</li>
    {% empty %}
        <li>No question yet</li>
    {% endfor %}
    </ul>
    {% endblock content %}
</div>
</body>
</html>